.accounts {
  width: 50%;
  white-space: nowrap;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.input {
  width: 100%;
  cursor: pointer;
}

.list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  left: 0;
  right: 0;
  border-right: 3px solid #2400e8;
  border-left: 3px solid #2400e8;
  border-bottom: 3px solid #2400e8;
  border-radius: 20px;
}

.account {
  display: inline-flex;
  align-items: center;
  gap: 1rem;

  &:hover {
    & .link {
      color: #2400e8;
      transition: color 0.2s ease-in;
    }

    & .icon {
      fill: #2400e8;
      transition: color 0.2s ease-in;
    }
  }
}

.link {
  color: var(--text-color);
  font-size: 1.2rem;
}

.icon {
  height: 0;
  width: 0;
  min-height: 2.5rem;
  min-width: 2.5rem;
  fill: var(--text-color);
}
