.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.download {
  display: inline-flex;
  align-items: center;
}

.icon {
  height: 5rem;
  width: 5rem;
  fill: none;
}
