.home {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.images {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
