.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 4rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
