.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.content {
  margin: 1rem;
}

.links {
  display: inline-flex;
}

.link {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

.separator {
  margin-right: 1rem;
}
