.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top {
  margin-top: 0.5rem;
  display: inline-flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
}
