.description {
  display: inline-flex;
  align-items: center;
  gap: 3rem;
  max-width: 60rem;
  flex-wrap: wrap;
  color: var(--color-primary);
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: center;
  margin-bottom: 4rem;
  font-weight: 500;
}

.profilePicture {
  width: 10rem;
  height: 14rem;
}

.rightBox {
  max-width: 47rem;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
