:root {
  --text-color: #000000;
  --primary: #ffffff;
  --secondary: #1d9bf0;
}

[data-theme="dark"] {
  --text-color: #ffffff;
  --primary: #15202b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
